doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description", content="sample text,sample text")
        meta(name="keywords", content="word1,word2,word3")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        //- viewport widthの値は、サイトの横幅 or device-width
        meta(name="viewport", content="width=1080,minimum-scale=0,maximum-scale=10")

        //- SNS関連 ここから
        meta(property="fb:app_id", content="")
        meta(property="og:locale", content="ja_JP")
        meta(property="og:title", content="Title")
        meta(property="og:description", content="sample text,sample text")
        meta(property="og:url", content="URL")
        meta(property="og:site_name", content="SITE NAME")
        meta(property="og:type", content="website")
        meta(property="og:image", content="./assets/image/common/ogp.png")
        //- SNS関連 ここまで 

        //- favicon,webclip ここから
        meta(name="apple-mobile-web-app-title", content="SITE NAME")
        link(rel="apple-touch-icon-precomposed", href="./assets/image/common/apple-touch-icon-precomposed.png")
        link(rel="shortcut icon", href="./assets/image/common/favicon.ico")
        //- favicon,webclip ここまで

        //- CSS ここから
        link(rel="stylesheet", href="./assets/css/style.css")
        //- CSS ここまで

    body
        //- デフォのタグ　ここから
        div#fb-root
        noscript.for-no-js Javascriptを有効にしてください。
        div.for-old お使いのOS・ブラウザでは、本サイトを適切に閲覧できない可能性があります。最新のブラウザをご利用ください。
        input#js-base-url(type="hidden", value="./assets/")
        //- デフォのタグ　ここまで

        div.loading#js-loading
            div.loading-object

        //- wrapper ここから
        div.wrapper#js-wrapper

            include ./components/_header

            main
                block content

            include ./components/_footer
        
        //- JS ここから
        script(src="./assets/js/library.js")
        script(src="./assets/js/main.js")
        script(src="./assets/js/pages/index.js")
        //- JS ここまで